td:hover {
  background-color: rgb(103, 141, 212);
}
.a {
  background-color: blueviolet;
}
.b {
  background-color: blue;
}
.c {
  background-color: rgb(74, 219, 74);
}
.d {
  background-color: orangered;
}
